NodeRedFlowImport
[
    {
        "id": "391118de7bb5e789",
        "type": "tab",
        "label": "Battleship Game",
        "disabled": false,
        "info": ""
    },
    {
        "id": "b09a424df9ead0d9",
        "type": "discordMessage",
        "z": "391118de7bb5e789",
        "name": "Listen to Messages",
        "channelIdFilter": "1016412227013722125",
        "token": "",
        "x": 150,
        "y": 80,
        "wires": [
            [
                "3155778c1cac6032"
            ]
        ]
    },
    {
        "id": "3155778c1cac6032",
        "type": "function",
        "z": "391118de7bb5e789",
        "name": "Battleship Engine",
        "func": "const GRID_SIZE = 8;\nconst SHIPS = [4, 3, 2, 2]; // Fleet sizes: 1 Carrier (4), 1 Cruiser (3), 2 Destroyers (2)\n\n// --- Helper Functions ---\nfunction createEmptyGrid() {\n    let grid = [];\n    for (let i = 0; i < GRID_SIZE; i++) {\n        grid.push(Array(GRID_SIZE).fill('~'));\n    }\n    return grid;\n}\n\nfunction placeShipsRandomly() {\n    let grid = createEmptyGrid();\n    for (let shipLen of SHIPS) {\n        let placed = false;\n        let attempts = 0;\n        while (!placed && attempts < 100) {\n            attempts++;\n            let dir = Math.random() < 0.5 ? 'H' : 'V';\n            let r = Math.floor(Math.random() * GRID_SIZE);\n            let c = Math.floor(Math.random() * GRID_SIZE);\n            if (canPlace(grid, r, c, dir, shipLen)) {\n                for (let i = 0; i < shipLen; i++) {\n                    let currR = r + (dir === 'V' ? i : 0);\n                    let currC = c + (dir === 'H' ? i : 0);\n                    grid[currR][currC] = 'S'; \n                }\n                placed = true;\n            }\n        } \n    }\n    return grid;\n}\n\nfunction canPlace(grid, r, c, dir, len) {\n    for (let i = 0; i < len; i++) {\n        let currR = r + (dir === 'V' ? i : 0);\n        let currC = c + (dir === 'H' ? i : 0);\n        if (currR >= GRID_SIZE || currC >= GRID_SIZE) return false;\n        if (grid[currR][currC] !== '~') return false;\n    }\n    return true;\n}\n\nconst rowLabels = ['🇦', '🇧', '🇨', '🇩', '🇪', '🇫', '🇬', '🇭'];\nconst colHeader = '⬛ 1️⃣ 2️⃣ 3️⃣ 4️⃣ 5️⃣ 6️⃣ 7️⃣ 8️⃣\\n';\n\nfunction renderGrid(grid, hideShips) {\n    let output = colHeader;\n    for (let r = 0; r < GRID_SIZE; r++) {\n        let rowStr = rowLabels[r] + ' ';\n        for (let c = 0; c < GRID_SIZE; c++) {\n            let cell = grid[r][c];\n            if (cell === '~') {\n                rowStr += '🟦 ';\n            } else if (cell === 'S') {\n                rowStr += hideShips ? '🟦 ' : '🚢 ';\n            } else if (cell === 'X') {\n                rowStr += '💥 ';\n            } else if (cell === 'O') {\n                rowStr += '⚪ ';\n            }\n        }\n        output += rowStr + '\\n';\n    }\n    return output;\n}\n\nfunction renderGridsCombined(game) {\n    let playerBoard = renderGrid(game.playerGrid, false);\n    let aiBoard = renderGrid(game.aiGrid, true);\n    return `**💻 AI\\'s GRID (Target Board)**\\n${aiBoard}\\n` +\n           `**👤 ${game.playerUserTag}\\'s GRID (Defending Board)**\\n${playerBoard}`;\n}\n\n// --- Combined Render for PvP ---\nfunction renderPvPBoards(game) {\n    let board1 = renderGrid(game.grid1, true);\n    let board2 = renderGrid(game.grid2, true);\n    return `**👤 ${game.player1.tag}\\'s Fleet (Target Board)**\\n${board1}\\n` +\n           `**👤 ${game.player2.tag}\\'s Fleet (Target Board)**\\n${board2}`;\n}\n\nfunction checkWin(grid) {\n    for (let r = 0; r < GRID_SIZE; r++) {\n        for (let c = 0; c < GRID_SIZE; c++) {\n            if (grid[r][c] === 'S') return false;\n        }\n    }\n    return true;\n}\n\n// --- Message Parser & Router ---\nif (typeof msg.payload !== 'string') return null;\nconst text = msg.payload.trim();\nif (!text) return null;\n\nconst parts = text.split(/\\s+/);\nif (!parts[0].toLowerCase().startsWith('!bs') && !parts[0].toLowerCase().startsWith('!battleship')) {\n    return null;\n}\n\nlet games = flow.get('battleship_games') || {};\nlet channelId = (typeof msg.channel === 'object' && msg.channel !== null) ? msg.channel.id : msg.channel;\nif (!channelId) channelId = \"default\";\n\nlet userId = (msg.author && msg.author.id) ? msg.author.id : \"unknown\";\nlet userTag = (msg.author && msg.author.username) ? msg.author.username : \"Captain\";\n\nconst command = parts[1] ? parts[1].toLowerCase() : 'help';\n\nlet discordResponseText = '';\nlet isDashboard = (channelId === 'dashboard');\n\nlet playerWin = false;\nlet aiWin = false;\nlet moveReport = '';\n\n// --- COMMAND: HELP ---\nif (command === 'help') {\n    discordResponseText = `⚓ **BATTLESHIP GRID WARFARE** ⚓\\n` +\n                  `**Single-player Commands:**\\n` +\n                  `• \\`!bs start\\` - Play a match against the AI\\n\\n` +\n                  `**PvP Commands (2 Players):**\\n` +\n                  `• \\`!bs challenge @User\\` - Challenge another server member\\n` +\n                  `• \\`!bs accept\\` - Accept a pending challenge\\n` +\n                  `• \\`!bs decline\\` - Decline or cancel a pending challenge\\n\\n` +\n                  `**In-game Commands:**\\n` +\n                  `• \\`!bs fire [coord]\\` - Attack a coordinate (e.g., \\`!bs fire C4\\`)\\n` +\n                  `• \\`!bs board\\` - Show the current active map status\\n` +\n                  `• \\`!bs forfeit\\` - Leave the match and reveal ship layouts\\n\\n` +\n                  `*Grid Legend:* 🟦 Water | 🚢 Ship | 💥 Hit | ⚪ Miss`;\n}\n\n// --- COMMAND: CHALLENGE ---\nelse if (command === 'challenge') {\n    if (games[channelId]) {\n        discordResponseText = `⚠️ There is already an active game or pending challenge in this channel.`;\n    } else {\n        let mentionMatch = parts[2] ? parts[2].match(/<@!?(\\d+)>/) : null;\n        if (!mentionMatch) {\n            discordResponseText = `⚠️ Please mention the user you want to challenge. Example: \\`!bs challenge @username\\``;\n        } else {\n            let opponentId = mentionMatch[1];\n            let opponentMention = parts[2];\n            \n            if (opponentId === userId) {\n                discordResponseText = `⚠️ You cannot challenge yourself! Play against the AI using \\`!bs start\\`.`;\n            } else {\n                games[channelId] = {\n                    status: 'pending',\n                    player1: { id: userId, tag: userTag, mention: `<@${userId}>` },\n                    player2: { id: opponentId, tag: opponentMention, mention: opponentMention },\n                    challenger: userId,\n                    opponent: opponentId\n                };\n                flow.set('battleship_games', games);\n                \n                discordResponseText = `⚔️ **BATTLESHIP CHALLENGE!** ⚔️\\n` +\n                              `**${userTag}** has challenged **${opponentMention}** to a tactical naval battle!\\n\\n` +\n                              `👉 **${opponentMention}**, type \\`!bs accept\\` to deploy your fleets and start the duel, or \\`!bs decline\\` to reject.`;\n            }\n        }\n    }\n}\n\n// --- COMMAND: DECLINE ---\nelse if (command === 'decline') {\n    let game = games[channelId];\n    if (!game || game.status !== 'pending') {\n        discordResponseText = `❌ No pending challenge found in this channel.`;\n    } else if (userId !== game.opponent && userId !== game.challenger) {\n        discordResponseText = `⚠️ Only the challenger or the opponent can decline this challenge.`;\n    } else {\n        delete games[channelId];\n        flow.set('battleship_games', games);\n        discordResponseText = `🏳️ The challenge has been cancelled/declined.`;\n    }\n}\n\n// --- COMMAND: ACCEPT ---\nelse if (command === 'accept') {\n    let game = games[channelId];\n    if (!game || game.status !== 'pending') {\n        discordResponseText = `❌ No pending challenge found in this channel.`;\n    } else if (userId !== game.opponent) {\n        discordResponseText = `⚠️ Only the challenged player (${game.player2.mention}) can accept this match!`;\n    } else {\n        game.status = 'active';\n        game.grid1 = placeShipsRandomly(); \n        game.grid2 = placeShipsRandomly(); \n        \n        let p1GoesFirst = Math.random() < 0.5;\n        game.turn = p1GoesFirst ? game.player1.id : game.player2.id;\n        let starterMention = p1GoesFirst ? game.player1.mention : game.player2.mention;\n        \n        flow.set('battleship_games', games);\n        \n        discordResponseText = `⚓ **The Battle Has Commenced!** ⚓\\n` +\n                      `Both fleets have been randomly deployed. To prevent scouting, all ship positions are **completely hidden**.\\n\\n` +\n                      renderPvPBoards(game) + `\\n` +\n                      `🎲 **First strike** goes to: ${starterMention}! Fire using \\`!bs fire [coordinate]\\` (e.g. \\`!bs fire D4\\`).`;\n    }\n}\n\n// --- COMMAND: START (SINGLE-PLAYER/DASHBOARD) ---\nelse if (command === 'start') {\n    if (games[channelId] && games[channelId].status === 'active') {\n        discordResponseText = `⚠️ An active game or challenge is already running in this channel.`;\n    } else {\n        let playerGrid = placeShipsRandomly();\n        let aiGrid = placeShipsRandomly();\n        \n        games[channelId] = {\n            playerGrid: playerGrid,\n            aiGrid: aiGrid,\n            status: 'active',\n            playerUserId: userId,\n            playerUserTag: userTag\n        };\n        flow.set('battleship_games', games);\n        \n        discordResponseText = `🚢 **A New Battle Begins!** 🚢\\n` +\n                      `Host **${userTag}** has deployed their fleet!\\n\\n` +\n                      renderGridsCombined(games[channelId]) + `\\n` +\n                      `Fire your first salvo using: \\`!bs fire [coordinate]\\` (e.g., \\`!bs fire E5\\`)`;\n    }\n}\n\n// --- COMMAND: BOARD ---\nelse if (command === 'board') {\n    let game = games[channelId];\n    if (!game || game.status !== 'active') {\n        discordResponseText = `❌ No active game in progress. Start one with \\`!bs start\\` or \\`!bs challenge @user\\`.`;\n    } else {\n        let isPvP = (game.player1 && game.player2);\n        if (isPvP) {\n            let turnMention = (game.turn === game.player1.id) ? game.player1.mention : game.player2.mention;\n            discordResponseText = `📊 **Current PvP Battle Status**\\n\\n` + \n                          renderPvPBoards(game) + `\\n` + \n                          `👉 Waiting for ${turnMention} to strike!`;\n        } else {\n            discordResponseText = `📊 **Current Battle Status**\\n\\n` + renderGridsCombined(game);\n        }\n    }\n}\n\n// --- COMMAND: FORFEIT ---\nelse if (command === 'forfeit') {\n    let game = games[channelId];\n    if (!game || game.status !== 'active') {\n        discordResponseText = `❌ No active game in progress.`;\n    } else {\n        let isPvP = (game.player1 && game.player2);\n        if (!isPvP) {\n            if (game.playerUserId !== userId) {\n                discordResponseText = `⚠️ Only the match owner (${game.playerUserTag}) can forfeit.`;\n            } else {\n                let aiBoardRevealed = renderGrid(game.aiGrid, false);\n                delete games[channelId];\n                flow.set('battleship_games', games);\n                \n                discordResponseText = `🏳️ **Match Forfeited!**\\n` +\n                              `You surrendered to the AI. Here was the AI\\'s actual fleet layout:\\n\\n` +\n                              `**💻 AI\\'s REVEALED GRID**\\n${aiBoardRevealed}`;\n            } \n        } else {\n            if (userId !== game.player1.id && userId !== game.player2.id) {\n                discordResponseText = `⚠️ Only active players can forfeit.`;\n            } else {\n                let forfeiterName = (userId === game.player1.id) ? game.player1.tag : game.player2.tag;\n                let winnerName = (userId === game.player1.id) ? game.player2.tag : game.player1.tag;\n                \n                let board1Revealed = renderGrid(game.grid1, false);\n                let board2Revealed = renderGrid(game.grid2, false);\n                \n                delete games[channelId];\n                flow.set('battleship_games', games);\n                \n                discordResponseText = `🏳️ **${forfeiterName} has forfeited the match!**\\n` +\n                              `**${winnerName}** wins by default!\\n\\n` +\n                              `**Fleet Layouts Revealed:**\\n` +\n                              `**👤 ${game.player1.tag}\\'s Fleet:**\\n${board1Revealed}\\n` +\n                              `**👤 ${game.player2.tag}\\'s Fleet:**\\n${board2Revealed}`;\n            } \n        }\n    }\n}\n\n// --- COMMAND: FIRE ---\nelse if (command === 'fire') {\n    let game = games[channelId];\n    if (!game || game.status !== 'active') {\n        discordResponseText = `❌ No active game in progress.`;\n    } else {\n        let isPvP = (game.player1 && game.player2);\n        \n        if (!isPvP) {\n            if (game.playerUserId !== userId) {\n                discordResponseText = `⚠️ Only the captain of this match (${game.playerUserTag}) can issue fire commands.`;\n            } else {\n                let target = parts.slice(2).join('').toUpperCase();\n                if (!target) {\n                    discordResponseText = `⚠️ Please specify a target. Example: \\`!bs fire C4\\``;\n                } else {\n                    let match = target.match(/^([A-H])([1-8])$/);\n                    if (!match) {\n                        discordResponseText = `❌ Invalid coordinate format. Use A-H followed by 1-8 (e.g. \\`!bs fire F4\\`).`;\n                    } else {\n                        let r = match[1].charCodeAt(0) - 65;\n                        let c = parseInt(match[2]) - 1;\n                        let aiCell = game.aiGrid[r][c];\n                        \n                        if (aiCell === 'X' || aiCell === 'O') {\n                            discordResponseText = `⚠️ You\\'ve already targeted **${target}**. Choose a different sector!`;\n                        } else {\n                            let playerResult = '';\n                            if (aiCell === '~') {\n                                game.aiGrid[r][c] = 'O';\n                                playerResult = `Miss at ${target}`;\n                            } else if (aiCell === 'S') {\n                                game.aiGrid[r][c] = 'X';\n                                playerResult = `Hit at ${target}!`;\n                            }\n                            \n                            moveReport = `You: ${playerResult}. `;\n                            \n                            if (checkWin(game.aiGrid)) {\n                                let finalBoard = renderGridsCombined(game);\n                                playerWin = true;\n                                delete games[channelId];\n                                flow.set('battleship_games', games);\n                                discordResponseText = `🎉 **VICTORY!** 🎉\\n` +\n                                              `Captain **${userTag}** has successfully sunk the AI fleet!\\n\\n` +\n                                              finalBoard;\n                            } else {\n                                let aiResult = '';\n                                let validTargets = [];\n                                for (let i = 0; i < GRID_SIZE; i++) {\n                                    for (let j = 0; j < GRID_SIZE; j++) {\n                                        let cell = game.playerGrid[i][j];\n                                        if (cell === '~' || cell === 'S') {\n                                            validTargets.push({ r: i, c: j });\n                                        }\n                                    }\n                                }\n                                \n                                if (validTargets.length > 0) {\n                                    let randomTarget = validTargets[Math.floor(Math.random() * validTargets.length)];\n                                    let aiR = randomTarget.r;\n                                    let aiC = randomTarget.c;\n                                    let aiCellVal = game.playerGrid[aiR][aiC];\n                                    let aiTargetCoord = String.fromCharCode(65 + aiR) + (aiC + 1);\n                                    \n                                    if (aiCellVal === '~') {\n                                        game.playerGrid[aiR][aiC] = 'O';\n                                        aiResult = `Missed at ${aiTargetCoord}`;\n                                    } else if (aiCellVal === 'S') {\n                                        game.playerGrid[aiR][aiC] = 'X';\n                                        aiResult = `Hit your ship at ${aiTargetCoord}!`;\n                                    }\n                                }\n                                \n                                moveReport += `AI: ${aiResult}`;\n                                \n                                if (checkWin(game.playerGrid)) {\n                                    let finalBoard = renderGridsCombined(game);\n                                    aiWin = true;\n                                    delete games[channelId];\n                                    flow.set('battleship_games', games);\n                                    discordResponseText = `💀 **DEFEAT!** 💀\\n` +\n                                                  `The AI has sunk your final ship.\\n\\n` +\n                                                  finalBoard;\n                                } else {\n                                    flow.set('battleship_games', games);\n                                    discordResponseText = `⚔️ **Salvo Exchange** ⚔️\\n` +\n                                                  `👤 **You:** ${playerResult}\\n` +\n                                                  `💻 **AI:** ${aiResult}\\n\\n` +\n                                                  renderGridsCombined(game);\n                                } \n                            }\n                        }\n                    }\n                }\n            } \n        } else {\n            // --- PvP Fire Logic ---\n            if (userId !== game.turn) {\n                let nextPlayerMention = (game.turn === game.player1.id) ? game.player1.mention : game.player2.mention;\n                discordResponseText = `⚠️ It is not your turn! Waiting for ${nextPlayerMention} to strike.`;\n            } else {\n                let target = parts.slice(2).join('').toUpperCase();\n                if (!target) {\n                    discordResponseText = `⚠️ Please specify a target. Example: \\`!bs fire C4\\``;\n                } else {\n                    let match = target.match(/^([A-H])([1-8])$/);\n                    if (!match) {\n                        discordResponseText = `❌ Invalid coordinate format. Use A-H followed by 1-8 (e.g. \\`!bs fire F4\\`).`;\n                    } else {\n                        let r = match[1].charCodeAt(0) - 65;\n                        let c = parseInt(match[2]) - 1;\n                        \n                        let targetGrid = (game.turn === game.player1.id) ? game.grid2 : game.grid1;\n                        let shooterName = (game.turn === game.player1.id) ? game.player1.tag : game.player2.tag;\n                        let targetName = (game.turn === game.player1.id) ? game.player2.tag : game.player1.tag;\n                        \n                        let cell = targetGrid[r][c];\n                        if (cell === 'X' || cell === 'O') {\n                            discordResponseText = `⚠️ Sector **${target}** has already been bombarded. Choose another target!`;\n                        } else {\n                            let hitResult = '';\n                            if (cell === '~') {\n                                targetGrid[r][c] = 'O';\n                                hitResult = `⚪ **MISS**!`;\n                            } else if (cell === 'S') {\n                                targetGrid[r][c] = 'X';\n                                hitResult = `💥 **DIRECT HIT**!`;\n                            }\n                            \n                            if (checkWin(targetGrid)) {\n                                let finalBoards = renderPvPBoards(game);\n                                delete games[channelId];\n                                flow.set('battleship_games', games);\n                                \n                                discordResponseText = `🏆 **VICTORY!** 🏆\\n` +\n                                              `**${shooterName}** has completely annihilated **${targetName}**\\'s fleet!\\n\\n` +\n                                              finalBoards;\n                            } else {\n                                let nextTurnId = (game.turn === game.player1.id) ? game.player2.id : game.player1.id;\n                                game.turn = nextTurnId;\n                                let nextPlayerMention = (nextTurnId === game.player1.id) ? game.player1.mention : game.player2.mention;\n                                \n                                flow.set('battleship_games', games);\n                                \n                                discordResponseText = `⚓ **Firing Report** ⚓\\n` +\n                                              `👤 **${shooterName}** fired at **${target}** -> ${hitResult}\\n\\n` +\n                                              renderPvPBoards(game) + `\\n` +\n                                              `🎮 It is now ${nextPlayerMention}\\'s turn to fire!`;\n                            }\n                        }\n                    }\n                }\n            } \n        }\n    }\n}\n\n// --- Dual Interface Routing ---\nif (isDashboard) {\n    let dashboardGame = games['dashboard'];\n    \n    // Default state structure when inactive\n    let dashboardPayload = {\n        status: 'inactive',\n        playerGrid: createEmptyGrid(),\n        aiGrid: createEmptyGrid(),\n        lastMoveReport: 'Ready for engagement.'\n    };\n    \n    if (dashboardGame && dashboardGame.status === 'active') {\n        dashboardPayload.status = 'active';\n        dashboardPayload.playerGrid = dashboardGame.playerGrid;\n        dashboardPayload.aiGrid = dashboardGame.aiGrid;\n        \n        if (command === 'start') {\n            dashboardPayload.lastMoveReport = 'New battle initialized. Make your move!';\n        } else if (command === 'fire') {\n            dashboardPayload.lastMoveReport = moveReport;\n        } else if (command === 'board') {\n            dashboardPayload.lastMoveReport = 'Grid map synchronized.';\n        }\n    } else {\n        if (playerWin) {\n            dashboardPayload.status = 'victory';\n            dashboardPayload.lastMoveReport = moveReport + ' Sunk the final enemy ship!';\n        } else if (aiWin) {\n            dashboardPayload.status = 'defeat';\n            dashboardPayload.lastMoveReport = moveReport + ' All friendly ships destroyed.';\n        } else if (command === 'forfeit') {\n            dashboardPayload.status = 'inactive';\n            dashboardPayload.lastMoveReport = 'Combat operations forfeited.';\n        }\n    }\n    \n    msg.payload = dashboardPayload;\n    return [null, msg]; // Output 2 (Dashboard)\n} else {\n    msg.payload = discordResponseText;\n    return [msg, null]; // Output 1 (Discord)\n}",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 140,
        "wires": [
            [
                "1f0466115ee653d4"
            ],
            [
                "5a872d3100caf24e"
            ]
        ]
    },
    {
        "id": "1f0466115ee653d4",
        "type": "discordMessageManager",
        "z": "391118de7bb5e789",
        "name": "Send Discord Response",
        "channel": "1016412227013722125",
        "token": "",
        "x": 680,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "5a872d3100caf24e",
        "type": "ui-template",
        "z": "391118de7bb5e789",
        "group": "235d165cb519c8c5",
        "name": "Grid Console",
        "order": 1,
        "width": "12",
        "height": "11",
        "format": "<template>\n  <div class=\"battleship-dashboard-wrapper\">\n    <v-card class=\"pa-4 mx-auto\" max-width=\"900\" variant=\"elevated\">\n      <v-card-title class=\"d-flex align-center justify-space-between flex-wrap gap-2\">\n        <span class=\"text-h5 font-weight-bold\">🚢 Battleship Command Center</span>\n        <v-chip :color=\"gameStatusColor\" size=\"small\" variant=\"flat\" class=\"text-uppercase\">\n          {{ state.status || 'No Active Game' }}\n        </v-chip>\n      </v-card-title>\n      \n      <v-card-text>\n        <!-- Game Controller Actions -->\n        <div class=\"mb-4 d-flex gap-2\">\n          <v-btn color=\"primary\" @click=\"startGame\" :disabled=\"state.status === 'active'\">\n            New Match\n          </v-btn>\n          <v-btn color=\"error\" variant=\"outlined\" @click=\"forfeitGame\" :disabled=\"state.status !== 'active'\">\n            Forfeit Match\n          </v-btn>\n        </div>\n\n        <!-- Turn / Move Report Alert -->\n        <v-alert v-if=\"state.lastMoveReport\" type=\"info\" variant=\"tonal\" class=\"mb-4\">\n          {{ state.lastMoveReport }}\n        </v-alert>\n\n        <!-- Combined Grid Layout -->\n        <v-row v-if=\"state.status === 'active' || state.status === 'victory' || state.status === 'defeat'\">\n          \n          <!-- TARGET BOARD -->\n          <v-col cols=\"12\" md=\"6\" class=\"d-flex flex-column align-center\">\n            <div class=\"text-subtitle-1 font-weight-bold mb-2\">🎯 Enemy Target Grid</div>\n            <div class=\"grid-container\">\n              <div class=\"grid-header-row\">\n                <div class=\"grid-corner\"></div>\n                <div v-for=\"col in 8\" :key=\"col\" class=\"grid-header-cell\">{{ col }}</div>\n              </div>\n              <div v-for=\"(row, rIdx) in state.aiGrid\" :key=\"rIdx\" class=\"grid-row\">\n                <div class=\"grid-row-header\">{{ getRowLabel(rIdx) }}</div>\n                <button \n                  v-for=\"(cell, cIdx) in row\" \n                  :key=\"cIdx\"\n                  class=\"grid-cell\"\n                  :class=\"getCellClass(cell, true)\"\n                  :disabled=\"state.status !== 'active' || cell === 'X' || cell === 'O'\"\n                  @click=\"fireCoordinate(rIdx, cIdx)\"\n                >\n                  <span v-if=\"cell === 'X'\">💥</span>\n                  <span v-else-if=\"cell === 'O'\">⚪</span>\n                </button>\n              </div>\n            </div>\n          </v-col>\n\n          <!-- DEFENDING BOARD -->\n          <v-col cols=\"12\" md=\"6\" class=\"d-flex flex-column align-center\">\n            <div class=\"text-subtitle-1 font-weight-bold mb-2\">🛡️ Your Fleet Grid</div>\n            <div class=\"grid-container\">\n              <div class=\"grid-header-row\">\n                <div class=\"grid-corner\"></div>\n                <div v-for=\"col in 8\" :key=\"col\" class=\"grid-header-cell\">{{ col }}</div>\n              </div>\n              <div v-for=\"(row, rIdx) in state.playerGrid\" :key=\"rIdx\" class=\"grid-row\">\n                <div class=\"grid-row-header\">{{ getRowLabel(rIdx) }}</div>\n                <div \n                  v-for=\"(cell, cIdx) in row\" \n                  :key=\"cIdx\"\n                  class=\"grid-cell locked\"\n                  :class=\"getCellClass(cell, false)\"\n                >\n                  <span v-if=\"cell === 'S'\">🚢</span>\n                  <span v-else-if=\"cell === 'X'\">💥</span>\n                  <span v-else-if=\"cell === 'O'\">⚪</span>\n                </div>\n              </div>\n            </div>\n          </v-col>\n        </v-row>\n        \n        <!-- Terminal Screen Overlays -->\n        <v-sheet v-if=\"state.status === 'victory'\" class=\"pa-4 text-center bg-green-lighten-4 rounded mt-4\">\n          <div class=\"text-h5 text-green-darken-3 mb-1\">🎉 VICTORY! 🎉</div>\n          <div class=\"text-body-2 text-green-darken-4\">All enemy ships have been eliminated!</div>\n        </v-sheet>\n        \n        <v-sheet v-if=\"state.status === 'defeat'\" class=\"pa-4 text-center bg-red-lighten-4 rounded mt-4\">\n          <div class=\"text-h5 text-red-darken-3 mb-1\">💀 DEFEAT! 💀</div>\n          <div class=\"text-body-2 text-red-darken-4\">Your fleet has been completely destroyed.</div>\n        </v-sheet>\n      </v-card-text>\n    </v-card>\n  </div>\n</template>\n\n<script>\nexport default {\n  data() {\n    return {\n      state: {\n        status: 'inactive',\n        playerGrid: [],\n        aiGrid: [],\n        lastMoveReport: ''\n      }\n    };\n  },\n  computed: {\n    gameStatusColor() {\n      if (this.state.status === 'active') return 'green';\n      if (this.state.status === 'victory') return 'teal';\n      if (this.state.status === 'defeat') return 'red';\n      return 'grey';\n    }\n  },\n  methods: {\n    startGame() {\n      this.send({\n        payload: \"!bs start\",\n        channel: \"dashboard\",\n        author: { id: \"dashboard\", username: \"Dashboard User\" }\n      });\n    },\n    forfeitGame() {\n      this.send({\n        payload: \"!bs forfeit\",\n        channel: \"dashboard\",\n        author: { id: \"dashboard\", username: \"Dashboard User\" }\n      });\n    },\n    fireCoordinate(r, c) {\n      const rowChar = String.fromCharCode(65 + r);\n      const colNum = c + 1;\n      this.send({\n        payload: \"!bs fire \" + rowChar + colNum,\n        channel: \"dashboard\",\n        author: { id: \"dashboard\", username: \"Dashboard User\" }\n      });\n    },\n    getRowLabel(idx) {\n      return String.fromCharCode(65 + idx);\n    },\n    getCellClass(cell, isEnemy) {\n      if (cell === '~') return 'cell-water';\n      if (cell === 'S') return isEnemy ? 'cell-water' : 'cell-ship';\n      if (cell === 'X') return 'cell-hit';\n      if (cell === 'O') return 'cell-miss';\n      return '';\n    }\n  },\n  mounted() {\n    // Synchronize updates sent from the Engine function node\n    this.$socket.on('msg-input:' + this.id, (msg) => {\n      if (msg && msg.payload && typeof msg.payload === 'object') {\n        this.state = msg.payload;\n      }\n    });\n    // Fetch the current session state on refresh\n    this.send({\n      payload: \"!bs board\",\n      channel: \"dashboard\",\n      author: { id: \"dashboard\", username: \"Dashboard User\" }\n    });\n  }\n}\n</script>\n\n<style>\n.grid-container {\n  display: inline-block;\n  background-color: #2c2c2c;\n  padding: 8px;\n  border-radius: 8px;\n  user-select: none;\n}\n.grid-header-row {\n  display: flex;\n}\n.grid-corner {\n  width: 32px;\n  height: 32px;\n}\n.grid-header-cell {\n  width: 36px;\n  height: 32px;\n  display: flex;\n  align-items: center;\n  justify-content: center;\n  color: #fff;\n  font-weight: bold;\n  font-size: 0.9rem;\n}\n.grid-row {\n  display: flex;\n  align-items: center;\n}\n.grid-row-header {\n  width: 32px;\n  height: 36px;\n  display: flex;\n  align-items: center;\n  justify-content: center;\n  color: #fff;\n  font-weight: bold;\n  font-size: 0.9rem;\n}\n.grid-cell {\n  width: 32px;\n  height: 32px;\n  margin: 2px;\n  border-radius: 4px;\n  display: flex;\n  align-items: center;\n  justify-content: center;\n  cursor: pointer;\n  transition: background-color 0.2s, transform 0.1s;\n  border: none;\n}\n.grid-cell:hover:not(:disabled) {\n  transform: scale(1.1);\n  filter: brightness(1.2);\n}\n.grid-cell.locked {\n  cursor: default;\n}\n.cell-water {\n  background-color: #1e88e5 !important;\n}\n.cell-ship {\n  background-color: #757575 !important;\n}\n.cell-hit {\n  background-color: #e53935 !important;\n}\n.cell-miss {\n  background-color: #b0bec5 !important;\n}\n.gap-2 {\n  gap: 8px;\n}\n</style>",
        "templateScope": "local",
        "className": "",
        "x": 660,
        "y": 180,
        "wires": [
            [
                "3155778c1cac6032"
            ]
        ]
    },
    {
        "id": "235d165cb519c8c5",
        "type": "ui-group",
        "name": "Grid Operations Console",
        "page": "c083aa5b709ca0ec",
        "width": "12",
        "height": "1",
        "order": 1,
        "visible": true,
        "disabled": false
    },
    {
        "id": "c083aa5b709ca0ec",
        "type": "ui-page",
        "name": "Battleship Command",
        "ui": "694bd846a39a606b",
        "path": "/battleship",
        "theme": "f3e15058e234f516",
        "order": 1,
        "visible": true,
        "disabled": false
    },
    {
        "id": "694bd846a39a606b",
        "type": "ui-base",
        "name": "Battleship Dashboard",
        "path": "/dashboard",
        "includeClientData": true,
        "acceptsClientConfig": [
            "ui-control",
            "ui-notification"
        ]
    },
    {
        "id": "f3e15058e234f516",
        "type": "ui-theme",
        "name": "Battleship Dark Theme",
        "colors": {
            "surface": "#111111",
            "primary": "#1e88e5",
            "bgPage": "#121212",
            "groupBg": "#1e1e1e",
            "groupOutline": "#333333"
        },
        "sizes": {
            "density": "comfortable",
            "pagePadding": "12px",
            "groupGap": "12px",
            "groupBorderRadius": "4px",
            "widgetGap": "12px"
        }
    },
    {
        "id": "3937a329c157cf78",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-discord-advanced": "3.6.0",
            "@flowfuse/node-red-dashboard": "1.30.2"
        }
    }
]
